.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.flex-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:5px;
}
header h1 {
    color: #252525;
    font-family: monospace;
    border-bottom: 2px solid #252525
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 22px;   
    color: #6f6e6e;
    margin-top: 10px;
}


.add-btn  {
    color: #fff;
    background-color: #c244d8;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    display: block;
    border: none;
    transition: all 0.2s;
  }
.add-btn:focus {
    outline: none;
    box-shadow: 0 0 4px #673ab7;
  }
.add-btn:active {
    border-bottom: none;
    margin-top: 2px;
    box-shadow: 0 2px 0 #673ab7 inset;
  }